name: shell commands

on: [push]

jobs:
  run-shell-commands:
   runs-on: ubuntu-latest
   steps:
    - name: echo a string
      run: echo "Jay Shree Krishna"
    - name: multiline script
      run: |
        node -v
        npm -v
    - name: python command
      run: |
        import platform
        print(platform.processor())
      shell: python
  # creating a new vm, windows to use bash command 
  # if we simple create a new vm it will run parallel to each other
  run-windows-command:
   runs-on: windows-latest
   needs: ['run-shell-commands']
   steps:
    - name: Directory Powershell
      run: Get-Location
    - name: Directory Bash
      run: pwd
      shell: bash